[user]
  name = Francisko de Moraes Rezende
  email = francisko.rezende@gmail.com

[core]
  editor = "vi"

[init]
  defaultBranch = main

[push]
  autoSetupRemote = true

[includeIf "gitdir:~/coding/radek/"]
  path = .gitconfig-radek
